// * {
//   outline: 1px solid orangered;
// }
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
a {
  display: inline-block;
}
ul {
  list-style: none;
}
ol,
ul {
  padding-left: 0;
}
ol,
ul,
dl {
  margin-bottom: 0;
}
