.card {
  text-align: justify;
  transition: transform 0.3s;
  &-body {
    position: relative;
  }
  &-date {
    line-height: 1.2;
    font-size: 48px;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 3px solid $primary;
  }
  &-img {
    height: 255px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 12px;
  }
  &-title {
    line-height: 1.5;
    font-size: 24px;
    margin-bottom: 12px;
    font-weight: bold;
  }
  &-text {
    font-family: "Noto Sans TC", sans-serif;
    margin-bottom: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  &-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid $primary;
    border-bottom: 2px solid $primary;
    & > * {
      padding-top: 12px;
      padding-bottom: 12px;
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }
  &-tag {
    font-weight: bold;
    &-icon {
      width: 24px;
      height: 24px;
    }
    &:hover {
      .card-tag-link {
        text-decoration: underline;
      }
    }
  }
  &-gopage {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: bold;
    position: relative;
    &-icon {
      font-size: 16px;
    }
    &:hover {
      &::before {
        content: "";
        position: absolute;
        width: 29px;
        height: 29px;
        top: 50%;
        left: -12px;
        transform: translateY(-50%);
        background: $secondary;
        border-radius: 50%;
        z-index: -1;
      }
    }
  }
  &:hover {
    .card-img {
      transform: scale(0.98) rotate(1deg);
    }
  }
  @include media-breakpoint-down(md) {
    &-date {
      font-size: 32px;
      padding-bottom: 8px;
      margin-bottom: 16px;
    }
    &-img {
      height: 210px;
      margin-bottom: 8px;
    }
    &-title {
      font-size: 18px;
      margin-bottom: 8px;
    }
    &-links {
      & > * {
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }
  }
}
