.logo-img {
  width: 53px;
  height: 53px;
  @include media-breakpoint-down(md) {
    width: 40px;
    height: 40px;
  }
}
.header {
  &-search {
    width: 355px;
    height: 53px;
    @include media-breakpoint-down(md) {
      width: 207px;
      height: 39px;
    }
  }
}
.nav-link {
  &-hover {
    color: #9c9e18 !important;
  }
}
