h3 {
    letter-spacing: 1.2px;
}

.login-icon {
    height: 32px;
    width: 32px;
}

.login-input {
    background-color: #f3f1e5;
    &::placeholder {
        color: #878787 !important;
        font-size: 20px !important;
    }
}


.btn-submit:hover {
    color: #fbff22!important;  
  }


